@font-face {
  font-family: 'Iransans';
  src: url('../asets/Iransans.woff2') format('woff2')
}

html, body{
	direction: rtl;
	width: 100%;
	height: 100%;
	background-color: #eee;
	font-family: Iransans;
    font-size: 15px;

}
body{
    display: flex;
    flex-direction: row;

}

.sec1{
padding: 100px 0px 100px 0px;
width: 100%;
/* display: none; */
background-color: #eee;
height: 100%;
position: relative;
margin: auto;

}

.login{
  display: flex;
  flex-direction: column;
  width: 420px;
  height: 200px;
  margin: auto;
	border: 1px solid white;
	border-radius: 5px;
	background-color: white;
	padding: 20px;

}
.login-head{
  text-align:right;
	background: linear-gradient(10deg, #ff5722, #e91e63);
	padding: 15px;
	color: white;
	width: 400px;
	margin: auto;
	border-radius: 3px;
	position: absolute;
	right: 50%;
	transform: translate(50%,-70%);

}
.login label{

}
.login input{
  margin: 10px;
	border: none;
	border-bottom: 2px solid #eee;
	width: 100%;
	padding: 10px 0px;
	color: #495057;
	font-size: 14px;
    font-family: Iransans;
    font-size: 12px;
}
.form{
	padding: 30px 0 10px 0;
}
.button{
	color: #fff;
	background-color: #e91e63;
	border-color: #e91e63;
	box-shadow: 0 2px 2px 0 rgba(233, 30, 99, 0.14), 0 3px 1px -2px rgba(233, 30, 99, 0.2), 0 1px 5px 0 rgba(233, 30, 99, 0.12);
	width: 80px;
	padding:10px 10px;
	border-radius: 3px;
	margin-top: 10px;
    font-family: Iransans;
    font-size: 12px;

}
.vertical{
	display: flex;
	flex-direction: column;
	top: 0;
	right: 0;
	bottom: 0;
	width: 300px;
	background-image: url('../asets/index.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size:cover;
	height: 100%;
}

/* .login{
	margin: auto;
	width: 300px;
	display: flex;
	flex-direction: column;
} */
.change-icon{
	display: none;
}
.icon{
	display: flex;
	padding: 5px;
}
/* .sec-list{
	background-color: yellow;
	height: 100%;
} */

.overlay{
	background: linear-gradient(#ff5722,#e91e63);
	opacity: 0.8;
	z-index: 10;
	width: 300px;
	height: 100%;
	position: absolute;
	top: 0;
}
.overlay2{
	background: black;
	opacity: 0.5;
	z-index: 10;
	width: 300px;
	height: 100%;
	position: absolute;
	top: 0;
}
.logo{
	background-image: url('../asets/logo.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 40%;
	width: 100%;
	height: 100px;
	padding: 10px;
	display: flex;
	flex-direction: column;
	position: relative;
	z-index: 20;

}
.logo::after{
	content: '';
	position: absolute;
	right: 15px;
	height: 1px;
	width: calc(100% - 50px);
	background-color: rgba(180,180,180,0.3);
	bottom: 0;
	left: 15px;
	}

.list{
	flex-grow: 100;
	z-index: 200;

}
.list-item{

}
.list-item li{
	color: white;
	padding: 15px 50px;
	margin:10px 15px;
	border: 0px;
	border-radius:3px;

}
.list-item li:hover:not(.select){
	background-color:rgb(0,0,0,0.1);
	cursor: pointer;


}
.list-item li a p:hover:not(.select){
    color:rgb(0,0,0,0.7);
    transition: .4s;
}

.list-item li a{
    color: white;
    display: flex;
    text-decoration: none;
    justify-content: flex-end;
    right: 0;

}
.list-item li a p{
    font-family: Iransans;
    font-size: 13px;
    padding: 5px 10px 0px;
    color: white;
    width: 100%;
    height: auto;
    display: block;
}
.list-item li a{
    color: gray;
    width: 100%;
    height:inherit;
    outline: none;

}
.select{
    background-color: #e91e63;
}
.white{
    color: white;
}
.horizental{
    display: flex;
	flex-direction: column;
	top: 0;
	left: 0;
	bottom: 0;
    width: calc(100% - 300px);
	height: 100%;
    background-color: #eee;
}
.head p{
    padding: 20px;
}
table{

    background-color: white;
    padding: 50px 0px;
	width: 100%;
	border-collapse: collapse;
    border-radius: 10px;
    position: relative;

}
thead tr th{
	color: #e91e63;
    padding-top: 40px;
}
thead tr{
	color: black;

}
th,td{
	padding: 5px;
	text-align: center;
	height: 30px;

}


.geom{
	cursor: pointer;
    color: red;
}
.restore:hover{
    color: blue;
}
.lock_open:hover{
    color: green;
}
.lock:hover{
    color: red;
}
#status,#operation{
    display: flex;
    align-items: center;
    justify-content: center;
	cursor: pointer;
}
#status{
    position: relative;
}
.content{
    padding: 25px;
    align-items: center;
    display:
}
.co-table{
    padding: 30px 20px 50px 20px;
    background-color: #eee;
    border-radius: 4px;
    display: none;
    padding-bottom: 50px;
    background-color: white;
    width: calc(100% - 40px);


}
.table-search{
    /* margin-top: -20px; */
    background: linear-gradient(to right,#ff5722,#e91e63);
    border-radius: 4px;
    width: calc(100% - 380px);
    margin: 0px 30px;
    position: absolute;
    /* transform: translate(0px 100px); */
    z-index: 10;
    top: 60px;
    left: 10px;

}
.search{
    padding: 10px;
}


.inp-search{
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #F5F5F5;
    background-color: inherit;
    color: #C0C0C0;
    width: 400px;
    /* padding: 15px; */
    font-family: Iransans;
    font-size: 15px;
    margin: 5px;


}
#search{
    border: none;
    border-radius: 50%;
    padding: 10px;
    color: gray;
}
.icon{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.next-page{
    /* direction: ltr; */
    width: 20px;
    height: 20px;
    /* display: none; */
}
.prev-page{
    width: 20px;
    height: 20px;
    /* display: none; */

}
.loadig{
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    opacity: 0.7;
    z-index: 200;

}
.gift-loader{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    right:50%;
    transform: translate(-50%, 50%);
    background-color: black;
    opacity: 0.7;
    color: white;
}
.change-status{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #ededed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    border-radius: 5px;


}
.status-wrper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}
.display{
	display: block;
}
